
     <div class="col-md-3">
      <p class="lead">Categorías</p>
     <div class="list-group">
        <%= link_to "Generalidades", books_path( "Generalidades"), class: "list-group-item" %>
        <%= link_to "Filosofía y psicología", books_path( "Filosofía y psicología"), class: "list-group-item"%>
        <%= link_to "Religión", books_path( "Religión"), class: "list-group-item"%>
        <%= link_to "Ciencias sociales", books_path( "Ciencias sociales"), class: "list-group-item"%>
        <%= link_to "Lenguas", books_path( "Lenguas"), class: "list-group-item"%>
        <%= link_to "Matemáticas y ciencias naturales", books_path( "Matemáticas y ciencias naturales"), class: "list-group-item"%>
        <%= link_to "Tecnología y ciencias aplicadas", books_path( "Tecnología y ciencias aplicadas"), class: "list-group-item"%>
        <%= link_to "Artes", books_path( "Artes"), class: "list-group-item"%>
        <%= link_to "Literatura", books_path( "Literatura"), class: "list-group-item"%>
        <%= link_to  "Historia y geografía", books_path( "Historia y geografía"), class: "list-group-item"%>
     </div>
    </div>