<!DOCTYPE html>
<html>
  <head>
    <title>Sharebooks</title>
    <%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
  </head>  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <%= link_to "Sharebooks", root_path, class: "navbar-brand"  %>
   </div>
   
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to profile_path(current_user) do%>
          <span class="glyphicon glyphicon-user"></span> <%= "Hi #{current_user.first_name}! (profile)" %>
          <%end %>
        </li> 
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span> Log Out
          <%end %>
        </li>

      <%else%>
        <li><%= link_to new_user_session_path do%>
           <span class="glyphicon glyphicon-log-in"></span> Log In
           <%end %>
        </li>
        <li><%= link_to new_user_registration_path do%>
          <span class="glyphicon glyphicon-log-plus-sign"></span> Sign In
          <%end %>
        </li>
      <%end %>
    </ul>
   </div>
  </div>
  <!-- /.container -->
  </nav>
  <!-- Page Content -->
      <div class="container main-content">
        <div class="row">
          <% if @sidebar %>
            <%= render 'sidebar' %>
          <%end %>
          <div class="col-md-9">
            <%= yield %>
          </div>
        </div>
      </div>
   </div>
  </div>
 </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
