<!DOCTYPE html>
<html>
  <head>
    <title>Sharebooks</title>
    <%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>  
  <body>
      <nav class="navbar navbar-fixed-top"> 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 nav">
              Sharebook
            </div>
            <div class="collapse navbar-collapse">
              <div class="col-md-6">
                <ul class="nav navbar-nav">
                  <li><%= link_to "BLOG", root_path %></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="nav navbar-nav">
                  <% if user_signed_in? %>
                  <li><%= link_to "Hola #{current_user.first_name}!", root_path%></li> 
                  <li><%= link_to 'Salir', destroy_user_session_path, method: :delete%></li>

                <%else%>
                  <li><%= link_to "Inicia Sesión", new_user_session_path %></li>
                  <li><%= link_to "Registrate", new_user_registration_path %></li>
                <%end%>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div >
        </div>
      </nav>


  	<div class="container">
	    <%= yield %>
  	</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
